name: Release Drafter

on:
  pull_request:
    branches:
      - main
      - qa
      
permissions: 
  contents: read
  pull-requests: write
      
jobs:
  update_release_draft:
    runs-on: ubuntu-slim
    steps:
      - uses: release-drafter/release-drafter@v5
        with:
          # This will update the PR description with the gathered commits
          publish: false
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
