on:
  pull_request:
    branches:
      - dev
      - qa
      - main
    types: [opened, edited, synchronize, reopened]

name: Validate PR Title

jobs:
  pr-title:
    name: PR Title Check
    runs-on: ubuntu-latest
    steps:
      - uses: amannn/action-semantic-pull-request@v5
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
